.main {
    padding: 4rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
}

.content {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.title {
    color: #1e3a8a;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

@media (min-width: 480px) {
    .title {
        text-align: left;
    }
}

.subtitle {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.125rem;
    margin-bottom: 1rem;
    max-width: 65ch;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.sidebar {
    display: flex;
    border: 2px dashed #ca8a04;
    padding: 1.5rem;
    background-color: rgba(29, 78, 216, 0.05);
    border-radius: 0.75rem;
    flex-basis: 20%;
    min-width: 320px;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    color: #ffffff;
}
